* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video,
input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: fontastic;
  font-weight: normal;
  font-style: normal;
  src: url("../../fonts/fontastic/side-by-side.eot");
  src: url("../../fonts/fontastic/side-by-side.eot?#iefix") format("embedded-opentype"), url("../../fonts/fontastic/side-by-side.woff") format("woff"), url("../../fonts/fontastic/side-by-side.ttf") format("truetype"), url("../../fonts/fontastic/side-by-side.svg#fontastic") format("svg");
}

[data-icon] {
  min-height: 1.5em;
  min-width: 1.5em;
  text-align: center;
}
[data-icon]::before {
  font-family: fontastic;
  font-size: 1em;
  color: inherit;
  display: block;
}

a[data-icon] {
  color: #dddddd;
}
a[data-icon]:hover {
  color: #1dba8f;
}

[data-icon="close"]::before {
  content: "\E006";
}

[data-icon="menu"]::before {
  content: "\E005";
}

[data-icon="right"]::before, .pane-secondary .nav-item::after {
  content: "\E007";
}

[data-icon="dribbble"]::before {
  content: "\E000";
}

[data-icon="github"]::before {
  content: "\E001";
}

[data-icon="twitter"]::before {
  content: "\E002";
}

[data-icon="linkedin"]::before {
  content: "\E003";
}

body {
  background-color: #fcfcfc;
  color: #444444;
  font-family: "avenir next", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4 {
  padding-bottom: 1em;
  line-height: 1.1;
}

h1 {
  font-size: 3em;
  font-weight: bold;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.5em;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-style: italic;
}

p {
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: #1dba8f;
  cursor: pointer;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.header-main {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 3em;
  line-height: 3em;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: #fcfcfc;
  border-bottom: 2px solid #1dba8f;
  padding: 0 1.618em;
  z-index: 99;
}
.header-main:before, .header-main:after {
  content: " ";
  display: table;
}
.header-main:after {
  clear: both;
}

.links {
  float: right;
}

.link {
  float: left;
  margin-left: 0.8em;
}
.link a {
  font-size: 1.2em;
}

.panes {
  *zoom: 1;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 3em;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
.panes:before, .panes:after {
  content: " ";
  display: table;
}
.panes:after {
  clear: both;
}

.pane-primary, .pane-secondary, .pane-tertiary {
  position: fixed;
  top: 3em;
  bottom: 0px;
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0;
}

.pane-primary {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  margin-right: 0;
  border-right: 1px solid #1dba8f;
}
.pane-primary:last-child {
  margin-right: 0;
}

.pane-secondary {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 74.41059%;
  margin-right: 0;
  margin-left: 25.58941%;
  border: 0;
}
.pane-secondary:last-child {
  margin-right: 0;
}

.pane-tertiary {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  margin-left: 12.79471%;
  -webkit-transform: translateX(110%);
  -moz-transform: translateX(110%);
  -ms-transform: translateX(110%);
  -o-transform: translateX(110%);
  transform: translateX(110%);
  border-left: 1px solid #1dba8f;
  background-color: #fcfcfc;
  position: absolute;
  top: 0;
}
.pane-tertiary:last-child {
  margin-right: 0;
}
.pane-tertiary .pane-content {
  padding: 1.618em;
}
.pane-tertiary [data-icon="close"] {
  position: absolute;
  top: 1.5em;
  right: 0px;
  font-size: 1.5em;
}

.nav-item {
  padding: 1.618em 0;
  display: block;
}
.nav-item:hover {
  text-decoration: underline;
}
.pane-primary .nav-item {
  padding: 1.618em;
}
.pane-secondary .nav-item::after {
  font-family: fontastic;
  display: none;
  float: right;
  margin-right: 1.618em;
}
.pane-secondary .nav-item:hover::after {
  display: block;
}

.pane-focus-tertiary .pane-primary {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 6.17215%;
}
.pane-focus-tertiary .pane-primary:last-child {
  margin-right: 0;
}
.pane-focus-tertiary .pane-secondary {
  margin-left: 8.5298%;
}
.pane-focus-tertiary .pane-tertiary {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
