@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "reset";

@include font-face(fontastic, '../../fonts/fontastic/side-by-side');

// VARIABLES
$color-dark:   #444;
$color-mid:    #DDD;
$color-light:  #FCFCFC;

$color-primary: #1DBA8F;
$color-text: $color-dark;

$font-base: 'avenir next', $helvetica;
$font-icon: fontastic;

$small:  em(24);
$medium: em(36);
$large:  em(48);
$xlarge: em(60);

// ICONS
[data-icon] {
  min-height: $small;
  min-width: $small;
  text-align: center;

  &::before {
    font-family: $font-icon;
    font-size: 1em;
    color: inherit;
    display: block;
  }
}

a[data-icon] {
  color: $color-mid;

  &:hover {
    color: $color-primary;
  }
}

[data-icon="close"]::before {
  content: "\E006";
}

[data-icon="menu"]::before {
  content: "\E005";
}

[data-icon="right"]::before {
  content: "\E007";
}

[data-icon="dribbble"]::before {
  content: "\E000";
}

[data-icon="github"]::before {
  content: "\E001";
}

[data-icon="twitter"]::before {
  content: "\E002";
}

[data-icon="linkedin"]::before {
  content: "\E003";
}

// MIXINS
@mixin vertical-center($height) {
  height: $height;
  line-height: $height;
}

body {
  background-color: $color-light;
  color: $color-text;
  font-family: $font-base;
  font-size: 18px;
  line-height: $small;
}

h1,
h2, 
h3,
h4 {
  padding-bottom: 1em;
  line-height: 1.1;
}

h1 {
  font-size: $large;
  font-weight: bold;
}

h2 {
  font-size: $medium;
}

h3 {
  font-size: $small;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-style: italic;
}

p {
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: $color-primary;
  cursor: pointer;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.header-main {
  @include outer-container;
  @include vertical-center($large);
  @include position(fixed, 0px 0px 0 0px);
  background-color: $color-light;
  border-bottom: 2px solid $color-primary;
  padding: 0 $gutter;
  z-index: 99;
}

.links {
  float: right;
}

.link {
  float: left;
  margin-left: 0.8em;

  a {
    font-size: 1.2em;
  }
}

.panes {
  @include outer-container;
  @include position(absolute, $large 0px 0px 0px);
}

%pane {
  @include position(fixed, $large 0 0px 0);
  @include transition;
}

.pane-primary {
  @extend %pane; 
  @include span-columns(3);
  @include omega;
  border-right: 1px solid $color-primary;
}

.pane-secondary {
  @extend %pane;
  @include span-columns(9);
  @include omega;
  @include shift(3);
  border: 0;
}

.pane-tertiary {
  @extend %pane;
  @include span-columns(10);
  @include shift(1.5);
  @include transform(translateX(110%));
  border-left: 1px solid $color-primary; 
  background-color: $color-light;
  position: absolute;
  top: 0;

  .pane-content {
    padding: $gutter;
  }

  [data-icon="close"] {
    @include position(absolute, 1.5em 0px 0 0);
    font-size: 1.5em;
  }
}

.nav-item {
  padding: $gutter 0 0;
  display: block;
  
  &:hover {
    text-decoration: underline;
  }
  
  .pane-primary & { 
    padding: $gutter;
  }

  .pane-secondary & {
    &::after {
      @extend [data-icon="right"]::before;
      font-family: $font-icon;
      display: none;
      float: right;
      margin-right: $gutter;
    }

    &:hover::after {
      display: block;
    }
  }
}

// STATES
.pane-focus-tertiary {
  .pane-primary {
    @include span-columns(1);
  }

  .pane-secondary {
    @include shift(1);
  }

  .pane-tertiary {
    @include transform(translateX(0));
  }
}
