@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "reset";

@include font-face(fontastic, '../../fonts/fontastic/side-by-side');

// VARIABLES
$color-dark:   #444;
$color-mid:    #DDD;
$color-light:  #FCFCFC;

$color-primary: #1DBA8F;
$color-text: $color-dark;

$font-base: 'avenir next', $helvetica;
$font-icon: fontastic;

$small:  em(24);
$medium: em(36);
$large:  em(48);
$xlarge: em(60);

// ICONS
[data-icon] {
  min-height: $small;
  min-width: $small;
  text-align: center;

  &::before {
    font-family: $font-icon;
    font-size: 1em;
    color: inherit;
    display: block;
  }
}

[data-icon="plus"]::before {
  content: "\E006";
}

[data-icon="close"]::before {
  @extend [data-icon="plus"]::before;
  @include transform(rotate(45deg));
}

// MIXINS
@mixin vertical-center($height) {
  height: $height;
  line-height: $height;
}

body {
  background-color: $color-light;
  color: $color-text;
  font-family: $font-base;
  font-size: 18px;
  line-height: $small;
}

h1,
h2, 
h3,
h4 {
  padding-bottom: 1em;
  line-height: 1.1;
}

h1 {
  font-size: $large;
  font-weight: bold;
}

h2 {
  font-size: $medium;
}

h3 {
  font-size: $small;
  font-weight: bold;
}

h4 {
  font-size: 1em;
  font-style: italic;
}

p {
  padding-bottom: 1em;
}

a {
  text-decoration: none;
  color: $color-primary;
  cursor: pointer;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

.header-main {
  @include outer-container;
  @include vertical-center($large);
  @include position(fixed, 0px 0px 0 0px);
  background-color: $color-light;
  border-bottom: 2px solid $color-primary;
  padding: 0 $gutter;
  z-index: 99;
}

.panes {
  @include outer-container;
  @include position(absolute, $large 0px 0px 0px);
}

%pane {
  @include position(fixed, $large 0 0px 0);
  @include transition;
}

// %pane-mask {
//   &::before {
//     $width: 30px;
//     $left: -($width) - 1px;
//     @include position(absolute, 0px 0 0px $left);
//     @include background-image(linear-gradient(to left, $color-light, rgba($color-light, 0)));
//     @include size($width 100%);
//     display: block;
//     content: "";
//   }
// }

.pane-primary {
  @extend %pane; 
  @include span-columns(3);
  @include omega;
  border-right: 1px solid $color-primary;
}

.pane-secondary {
  @extend %pane;
  @include span-columns(9);
  @include omega;
  @include shift(3);
  border: 0;
}

.pane-tertiary {
  @extend %pane;
  @include span-columns(10);
  @include shift(1.5);
  @include transform(translateX(110%));
  border-left: 1px solid $color-primary; 
  background-color: $color-light;
  position: absolute;
  top: 0;

  .pane-content {
    padding: $gutter;
  }

  [data-icon="close"] {
    color: $color-mid;
    float: right;

    &:hover {
      color: $color-primary;
    }
  }
}

.nav-item {
  padding: $gutter 0;
  display: block;
  
  &:hover {
    text-decoration: underline;
  }
  
  .pane-primary & { 
    padding: $gutter;
  }

  .pane-secondary & {

  }
}

// STATES
.pane-focus-tertiary {
  .pane-primary {
    @include span-columns(1);
  }

  .pane-secondary {
    @include shift(1);
  }

  .pane-tertiary {
    @include transform(translateX(0));
  }
}
